In [11]:
import pandas as pd
from pyproj import Proj, transform

In [2]:
bike_df = pd.read_excel('data/Final_Bike_Collision_Database.xlsx')

In [3]:
bike_df.columns

Index(['ID', 'YEAR', 'DATE', 'DAY_WEEK', 'TIME', 'TYPE', 'SOURCE', 'XFINAL',
       'Xkm', 'YFINAL', 'Ykm', 'Address', 'Main', 'RoadType', 'ISINTERSEC',
       'TRACT', 'CouncilDIS', 'Councillor', 'PlanningDi', 'OIF1', 'OIF2',
       'OIF3', 'OIF4', 'BLFinal', 'CS', 'LIGHTING', 'Indoor', 'Light',
       'LightEng', 'WEATHER', 'PrecipCond', 'AtmosCondi', 'DayNight', 'Tmax',
       'Tmin', 'Tavg', 'Temprange', 'SunriseTim', 'SunsetTime', 'SnowFall',
       'PrecipTota', 'Fault', 'Doored', 'HelmetDocu', 'TaxiFinal',
       'hitrunfina', 'AlcoholFin', 'INJURED', 'TRANSPORTE', 'TREATED',
       'GENDER', 'ETHNICITY', 'AGE', 'Narrative'],
      dtype='object')

In [6]:
bike_df[['Address', 'Xkm', 'Ykm']].head()

                 Address            Xkm            Ykm
0  1001 Commonwealth Ave  231203.176793  900199.040998
1       280 Brighton Ave            NaN  900400.976894
2       50 Kenilworth St  233984.572264  897655.138169
3        584 Saratoga St  239308.085183  903574.276748
4       222 Harrison Ave  236029.648350  899772.501906

In [7]:
bike_df['Xkm'].max()

241169.656466

In [8]:
bike_df['Xkm'].min()

226872.564379

In [9]:
bike_df['Ykm'].max()

904055.441186

In [10]:
bike_df['Ykm'].min()

887256.463784

In [16]:
inProj = Proj('epsg:26986')
outProj = Proj('epsg:4326')
xmax,ymax = bike_df['Xkm'].max(),bike_df['Ykm'].max()
xmax2,ymax2 = transform(inProj,outProj,xmax,ymax)
print ('Upper Right: ')
print (xmax2,ymax2)

xmin,ymin = bike_df['Xkm'].min(),bike_df['Ykm'].min()
xmin2,ymin2 = transform(inProj,outProj,xmin,ymin)

print('Bottom Right:')
print(xmin2, ymax2)

print('Top Right: ')
print(xmax2, ymin2)

print ('Bottom Left: ')
print (xmin2,ymin2)

Upper Right:
42.385920811282396 -71.00003640589748
Bottom Right:
42.23530626734878 -71.00003640589748
Top Right:
42.385920811282396 -71.17443656586595
Bottom Left:
42.23530626734878 -71.17443656586595

In [70]:
bike_df[['XFINAL', 'Xkm', 'YFINAL', 'Ykm']]

             XFINAL            Xkm        YFINAL            Ykm
0     758540.606275  231203.176793  2.953409e+06  900199.040998
1     754177.666510            NaN  2.954071e+06  900400.976894
2     767665.919501  233984.572264  2.945063e+06  897655.138169
3     785131.513067  239308.085183  2.964483e+06  903574.276748
4     774375.486713  236029.648350  2.952010e+06  899772.501906
...             ...            ...           ...            ...
1803  761171.822976  232005.171643  2.946305e+06  898033.855044
1804            NaN            NaN           NaN            NaN
1805            NaN            NaN           NaN            NaN
1806            NaN            NaN           NaN            NaN
1807            NaN            NaN           NaN            NaN

[1808 rows x 4 columns]

In [4]:
car_df = pd.read_csv('data/US_Accidents_Dec19.csv')
car_df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [55]:
car_acc_df = pd.read_csv('data/2019_Crashes_.csv')

In [52]:
for col in car_acc_df.columns:
    print(col)

OBJECTID
CRASH_NUMB
CITY_TOWN_NAME
CRASH_DATE
CRASH_HOUR
CRASH_TIME_2
CRASH_STATUS
CRASH_SEVERITY_DESCR
MAX_INJR_SVRTY_CL
NUMB_VEHC
NUMB_NONFATAL_INJR
NUMB_FATAL_INJR
POLC_AGNCY_TYPE_DESCR
MANR_COLL_DESCR
VEHC_MNVR_ACTN_CL
VEHC_TRVL_DIRC_CL
VEHC_SEQ_EVENTS_CL
AMBNT_LIGHT_DESCR
WEATH_COND_DESCR
ROAD_SURF_COND_DESCR
FIRST_HRMF_EVENT_DESCR
MOST_HRMFL_EVT_CL
DRVR_CNTRB_CIRC_CL
VEHC_CONFIG_CL
STREET_NUMB
RDWY
DIST_DIRC_FROM_INT
NEAR_INT_RDWY
MM_RTE
DIST_DIRC_MILEMARKER
MILEMARKER
EXIT_RTE
DIST_DIRC_EXIT
EXIT_NUMB
DIST_DIRC_LANDMARK
LANDMARK
RDWY_JNCT_TYPE_DESCR
TRAF_CNTRL_DEVC_TYPE_DESCR
TRAFY_DESCR_DESCR
JURISDICTN
FIRST_HRMF_EVENT_LOC_DESCR
NON_MTRST_TYPE_CL
NON_MTRST_ACTN_CL
NON_MTRST_LOC_CL
IS_GEOCODED
GEOCODING_METHOD_NAME
X
Y
LAT
LON
RMV_DOC_IDS
CRASH_RPT_IDS
YEAR
AGE_DRVR_YNGST
AGE_DRVR_OLDEST
AGE_NONMTRST_YNGST
AGE_NONMTRST_OLDEST
DRVR_DISTRACTED_CL
DISTRICT_NUM
RPA_ABBR
VEHC_EMER_USE_CL
VEHC_TOWED_FROM_SCENE_CL
CNTY_NAME
FMCSA_RPTBL_CL
FMCSA_RPTBL
HIT_RUN_DESCR
LCLTY_NAME
ROAD_CNTRB_DESCR
SCHL_BUS_RELD_DESCR
SPEED_LIMIT
TRAF_CNTRL_DEVC_FUNC_DESCR
WORK_ZONE_RELD_DESCR
AADT
AADT_YEAR
PK_PCT_SUT
AV_PCT_SUT
PK_PCT_CT
AV_PCT_CT
CURB
TRUCK_RTE
LT_SIDEWLK
RT_SIDEWLK
SHLDR_LT_W
SHLDR_LT_T
SURFACE_WD
SURFACE_TP
SHLDR_RT_W
SHLDR_RT_T
NUM_LANES
OPP_LANES
MED_WIDTH
MED_TYPE
URBAN_TYPE
F_CLASS
URBAN_AREA
FD_AID_RTE
FACILITY
OPERATION
CONTROL
PEAK_LANE
SPEED_LIM
STREETNAME
FROMSTREETNAME
TOSTREETNAME
CITY
STRUCT_CND
TERRAIN
URBAN_LOC_TYPE
AADT_DERIV
STATN_NUM
OP_DIR_SL
SHLDR_UL_T
SHLDR_UL_W
T_EXC_TYPE
T_EXC_TIME
F_F_CLASS

In [9]:
small_df = car_acc_df[['CITY_TOWN_NAME', 'STREET_NUMB', 'DIST_DIRC_FROM_INT', 'NEAR_INT_RDWY', 'MM_RTE', 'X', 'Y', 'LAT', 'LON']]
small_df.head()

,CITY_TOWN_NAME,STREET_NUMB,DIST_DIRC_FROM_INT,NEAR_INT_RDWY,MM_RTE,X,Y,LAT,LON
0,ATTLEBORO,787,NaN,NaN,NaN,215161.511507,854356.129054,41.939413,-71.317171
1,SALEM,NaN,NaN,NaN,NaN,250114.124768,919085.062401,42.520699,-70.890113
2,SALEM,NaN,NaN,NaN,NaN,250148.187616,919544.562433,42.524834,-70.889659
3,EVERETT,NaN,NaN,NaN,NaN,237161.046996,905476.187380,42.398912,-71.048625
4,HAVERHILL,NaN,NaN,NaN,NaN,237365.471188,946305.656602,42.766455,-71.043487

In [21]:
small2_df = car_acc_df[['HIT_RUN_DESCR', 'ROAD_CNTRB_DESCR']]
small2_df.head()

      HIT_RUN_DESCR                                   ROAD_CNTRB_DESCR
0  Yes, hit and run                                               None
1    No hit and run  Road surface condition (wet, icy, snow, slush,...
2    No hit and run                                               None
3    No hit and run                                               None
4    No hit and run                                               None

In [44]:
data_row = list(car_acc_df.loc[[0]].to_numpy()[0])
data_cols = list(car_acc_df.columns)
list_of_tuples = list(zip(data_cols, data_row))
#list_of_tuples[0]
list_of_tuples

[('OBJECTID', 2504847),
 ('CRASH_NUMB', 4643564),
 ('CITY_TOWN_NAME', 'ATTLEBORO'),
 ('CRASH_DATE', '2019-01-01T06:00:00.000Z'),
 ('CRASH_HOUR', '01:00AM to 01:59AM'),
 ('CRASH_TIME_2', '01:00 AM'),
 ('CRASH_STATUS', 'Open'),
 ('CRASH_SEVERITY_DESCR', 'Property damage only (none injured)'),
 ('MAX_INJR_SVRTY_CL', 'No injury'),
 ('NUMB_VEHC', 1),
 ('NUMB_NONFATAL_INJR', 0),
 ('NUMB_FATAL_INJR', 0),
 ('POLC_AGNCY_TYPE_DESCR', 'Local police'),
 ('MANR_COLL_DESCR', 'Single vehicle crash'),
 ('VEHC_MNVR_ACTN_CL', 'V1: Travelling straight ahead'),
 ('VEHC_TRVL_DIRC_CL', 'V1: E'),
 ('VEHC_SEQ_EVENTS_CL',
  ' V1:(Collision with embankment),(Collision with fence)'),
 ('AMBNT_LIGHT_DESCR', 'Dark - lighted roadway'),
 ('WEATH_COND_DESCR', 'Rain'),
 ('ROAD_SURF_COND_DESCR', 'Wet'),
 ('FIRST_HRMF_EVENT_DESCR', 'Collision with embankment'),
 ('MOST_HRMFL_EVT_CL', 'V1:(Collision with embankment)'),
 ('DRVR_CNTRB_CIRC_CL', nan),
 ('VEHC_CONFIG_CL', 'V1:(Passenger car)'),
 ('STREET_NUMB', '787'),
 ('RDWY', ' WEST ST'),
 ('DIST_DIRC_FROM_INT', nan),
 ('NEAR_INT_RDWY', nan),
 ('MM_RTE', nan),
 ('DIST_DIRC_MILEMARKER', nan),
 ('MILEMARKER', nan),
 ('EXIT_RTE', nan),
 ('DIST_DIRC_EXIT', nan),
 ('EXIT_NUMB', nan),
 ('DIST_DIRC_LANDMARK', nan),
 ('LANDMARK', 'CUL DE SAC NEAR RTE 95 SB'),
 ('RDWY_JNCT_TYPE_DESCR', 'Not at junction'),
 ('TRAF_CNTRL_DEVC_TYPE_DESCR', 'No controls'),
 ('TRAFY_DESCR_DESCR', 'Two-way, not divided'),
 ('JURISDICTN', 'CITY OR TOWN ACCEPTED ROAD'),
 ('FIRST_HRMF_EVENT_LOC_DESCR', 'Outside roadway'),
 ('NON_MTRST_TYPE_CL', nan),
 ('NON_MTRST_ACTN_CL', nan),
 ('NON_MTRST_LOC_CL', nan),
 ('IS_GEOCODED', 'Yes'),
 ('GEOCODING_METHOD_NAME', 'At Address'),
 ('X', 215161.51150659999),
 ('Y', 854356.12905401),
 ('LAT', 41.93941277),
 ('LON', -71.31717074),
 ('RMV_DOC_IDS', ' PW201903201323 / PW201900200118'),
 ('CRASH_RPT_IDS', ' 1900000040 / 1900000040'),
 ('YEAR', 2019),
 ('AGE_DRVR_YNGST', '21-24'),
 ('AGE_DRVR_OLDEST', '21-24'),
 ('AGE_NONMTRST_YNGST', nan),
 ('AGE_NONMTRST_OLDEST', nan),
 ('DRVR_DISTRACTED_CL', nan),
 ('DISTRICT_NUM', 5),
 ('RPA_ABBR', 'SRPEDD'),
 ('VEHC_EMER_USE_CL', 'V1:(No)'),
 ('VEHC_TOWED_FROM_SCENE_CL', 'V1:(Yes, vehicle or trailer disabled)'),
 ('CNTY_NAME', 'BRISTOL'),
 ('FMCSA_RPTBL_CL', nan),
 ('FMCSA_RPTBL', nan),
 ('HIT_RUN_DESCR', 'Yes, hit and run'),
 ('LCLTY_NAME', nan),
 ('ROAD_CNTRB_DESCR', 'None'),
 ('SCHL_BUS_RELD_DESCR', 'No, school bus not involved'),
 ('SPEED_LIMIT', nan),
 ('TRAF_CNTRL_DEVC_FUNC_DESCR', 'No, device not functioning'),
 ('WORK_ZONE_RELD_DESCR', 'Yes '),
 ('AADT', 1184.0),
 ('AADT_YEAR', nan),
 ('PK_PCT_SUT', nan),
 ('AV_PCT_SUT', nan),
 ('PK_PCT_CT', nan),
 ('AV_PCT_CT', nan),
 ('CURB', 'NONE'),
 ('TRUCK_RTE', nan),
 ('LT_SIDEWLK', 0.0),
 ('RT_SIDEWLK', 0.0),
 ('SHLDR_LT_W', 0.0),
 ('SHLDR_LT_T', 'NO SHOULDER'),
 ('SURFACE_WD', 28.0),
 ('SURFACE_TP', 'SURFACE-TREATED ROAD'),
 ('SHLDR_RT_W', 2.0),
 ('SHLDR_RT_T', 'STABLE - UNRUTTABLE COMPACTED SUBGRADE'),
 ('NUM_LANES', 2.0),
 ('OPP_LANES', 0.0),
 ('MED_WIDTH', 0.0),
 ('MED_TYPE', 'NONE'),
 ('URBAN_TYPE', 'LARGE URBANIZED AREA'),
 ('F_CLASS', 'LOCAL'),
 ('URBAN_AREA', 'PROVIDENCE (RI-MA)'),
 ('FD_AID_RTE', nan),
 ('FACILITY', 'MAINLINE ROADWAY'),
 ('OPERATION', 'TWO-WAY TRAFFIC'),
 ('CONTROL', 'NO ACCESS CONTROL'),
 ('PEAK_LANE', nan),
 ('SPEED_LIM', nan),
 ('STREETNAME', 'WEST STREET'),
 ('FROMSTREETNAME', 'NEWPORT AVENUE'),
 ('TOSTREETNAME', 'CUL_DE_SAC'),
 ('CITY', 'ATTLEBORO'),
 ('STRUCT_CND', 'FAIR'),
 ('TERRAIN', 'LEVEL TERRAIN'),
 ('URBAN_LOC_TYPE', nan),
 ('AADT_DERIV', nan),
 ('STATN_NUM', nan),
 ('OP_DIR_SL', nan),
 ('SHLDR_UL_T', '0'),
 ('SHLDR_UL_W', 0.0),
 ('T_EXC_TYPE', nan),
 ('T_EXC_TIME', nan),
 ('F_F_CLASS', 'LOCAL')]

In [58]:
#list of columns with descriptive data in them that might contain bike or bicycle
desc_col_list = ['CRASH_SEVERITY_DESCR', 'MANR_COLL_DESCR', 'VEHC_SEQ_EVENTS_CL', 'MOST_HRMFL_EVT_CL', 'VEHC_CONFIG_CL']
fixed_df = car_acc_df.fillna('')

Empty DataFrame
Columns: [OBJECTID, CRASH_NUMB, CITY_TOWN_NAME, CRASH_DATE, CRASH_HOUR, CRASH_TIME_2, CRASH_STATUS, CRASH_SEVERITY_DESCR, MAX_INJR_SVRTY_CL, NUMB_VEHC, NUMB_NONFATAL_INJR, NUMB_FATAL_INJR, POLC_AGNCY_TYPE_DESCR, MANR_COLL_DESCR, VEHC_MNVR_ACTN_CL, VEHC_TRVL_DIRC_CL, VEHC_SEQ_EVENTS_CL, AMBNT_LIGHT_DESCR, WEATH_COND_DESCR, ROAD_SURF_COND_DESCR, FIRST_HRMF_EVENT_DESCR, MOST_HRMFL_EVT_CL, DRVR_CNTRB_CIRC_CL, VEHC_CONFIG_CL, STREET_NUMB, RDWY, DIST_DIRC_FROM_INT, NEAR_INT_RDWY, MM_RTE, DIST_DIRC_MILEMARKER, MILEMARKER, EXIT_RTE, DIST_DIRC_EXIT, EXIT_NUMB, DIST_DIRC_LANDMARK, LANDMARK, RDWY_JNCT_TYPE_DESCR, TRAF_CNTRL_DEVC_TYPE_DESCR, TRAFY_DESCR_DESCR, JURISDICTN, FIRST_HRMF_EVENT_LOC_DESCR, NON_MTRST_TYPE_CL, NON_MTRST_ACTN_CL, NON_MTRST_LOC_CL, IS_GEOCODED, GEOCODING_METHOD_NAME, X, Y, LAT, LON, RMV_DOC_IDS, CRASH_RPT_IDS, YEAR, AGE_DRVR_YNGST, AGE_DRVR_OLDEST, AGE_NONMTRST_YNGST, AGE_NONMTRST_OLDEST, DRVR_DISTRACTED_CL, DISTRICT_NUM, RPA_ABBR, VEHC_EMER_USE_CL, VEHC_TOWED_FROM_SCENE_CL, CNTY_NAME, FMCSA_RPTBL_CL, FMCSA_RPTBL, HIT_RUN_DESCR, LCLTY_NAME, ROAD_CNTRB_DESCR, SCHL_BUS_RELD_DESCR, SPEED_LIMIT, TRAF_CNTRL_DEVC_FUNC_DESCR, WORK_ZONE_RELD_DESCR, AADT, AADT_YEAR, PK_PCT_SUT, AV_PCT_SUT, PK_PCT_CT, AV_PCT_CT, CURB, TRUCK_RTE, LT_SIDEWLK, RT_SIDEWLK, SHLDR_LT_W, SHLDR_LT_T, SURFACE_WD, SURFACE_TP, SHLDR_RT_W, SHLDR_RT_T, NUM_LANES, OPP_LANES, MED_WIDTH, MED_TYPE, URBAN_TYPE, F_CLASS, URBAN_AREA, FD_AID_RTE, FACILITY, OPERATION, CONTROL, PEAK_LANE, ...]
Index: []

[0 rows x 116 columns]

In [68]:
def contains_bike(df, colname):
    bikes_filter = []
    if(type(df[colname]) == 'str'):
        bikes_filter = df[colname].str.upper().str.contains('BIKE') | df[colname].str.upper().str.contains('BICYCLE')
    return bikes_filter
#bike = fixed_df[fixed_df['CRASH_SEVERITY_DESCR'].str.contains('bike')]

for col in fixed_df.columns:
    if(contains_bike(fixed_df, col)):
        print(col)

In [45]:
vehicle_configs = car_acc_df.groupby('VEHC_CONFIG_CL').count()
vehicle_configs

,OBJECTID,CRASH_NUMB,CITY_TOWN_NAME,CRASH_DATE,CRASH_HOUR,CRASH_TIME_2,CRASH_STATUS,CRASH_SEVERITY_DESCR,MAX_INJR_SVRTY_CL,NUMB_VEHC,...,TERRAIN,URBAN_LOC_TYPE,AADT_DERIV,STATN_NUM,OP_DIR_SL,SHLDR_UL_T,SHLDR_UL_W,T_EXC_TYPE,T_EXC_TIME,F_F_CLASS
VEHC_CONFIG_CL,,,,,,,,,,,,,,,,,,,,,
"V10:(Passenger car) / V1:(Passenger car) / V2:(Passenger car) / V3:(Passenger car) / V4:(Passenger car) / V5:(Passenger car) / V6:(Passenger car) / V7:(Passenger car) / V8:(Passenger car) / V9:(Light truck(van, mini-van, pickup, sport utility)) / V11:(Passenger car)",1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,1,1,1,1
"V11:(Passenger car) / V10:(Passenger car) / V9:(Passenger car) / V8:(Passenger car) / V7:(Passenger car) / V4:(Light truck(van, mini-van, pickup, sport utility)) / V5:(Passenger car) / V3:(Passenger car) / V2:(Light truck(van, mini-van, pickup, sport utility)) / V1:(Other e.g. farm equipment) / V12:(Passenger car) / V6:(Passenger car) / V13:(Passenger car)",1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,1,1,0,0,1
V1:(All Terrain Vehicle (ATV)),11,11,11,11,11,11,11,11,11,11,...,11,2,3,0,4,9,9,0,0,11
V1:(All Terrain Vehicle (ATV)) / V2:(All Terrain Vehicle (ATV)),1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,1,0,0,1
"V1:(All Terrain Vehicle (ATV)) / V2:(Light truck(van, mini-van, pickup, sport utility))",2,2,2,2,2,2,2,2,2,2,...,2,0,1,1,1,2,2,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"V8:(Passenger car) / V1:(Light truck(van, mini-van, pickup, sport utility)) / V2:(Passenger car) / V3:(Passenger car) / V4:(Passenger car) / V5:(Light truck(van, mini-van, pickup, sport utility)) / V6:(Light truck(van, mini-van, pickup, sport utility)) / V7:(Passenger car) / V9:(Passenger car)",1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,1,1,0,0,1
V8:(Passenger car) / V1:(Passenger car) / V2:(Passenger car) / V3:(Passenger car) / V4:(Passenger car) / V5:(Passenger car) / V6:(Passenger car) / V7:(Passenger car) / V9:(Passenger car),1,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,1,1,0,0,1
V8:(Passenger car) / V2:(Passenger car) / V3:(Passenger car) / V4:(Passenger car) / V5:(Passenger car) / V6:(Passenger car) / V7:(Passenger car) / V1:(Truck/trailer),1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,1,0,0,1
V9:(Passenger car) / V1:(Passenger car) / V2:(Passenger car) / V3:(Passenger car) / V4:(Passenger car) / V5:(Passenger car) / V6:(Passenger car) / V7:(Passenger car) / V8:(Passenger car) / V10:(Passenger car),1,1,1,1,1,1,1,1,1,1,...,1,1,0,0,0,0,0,0,0,1
V9:(Passenger car) / V8:(Passenger car) / V7:(Passenger car) / V6:(Passenger car) / V1:(Passenger car) / V4:(Passenger car) / V3:(Passenger car) / V2:(Passenger car) / V10:(Passenger car) / V5:(Passenger car),1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,1,0,0,1