In [1]:
import pandas as pd

In [2]:
bike_cl = pd.read_csv('data/HSIP_Bicycle_Crash_Clusters_2007__2016.csv')

In [3]:
bike_cl.head()

,OBJECTID,Id,CrashCount,GroupCode,L1STREET,L2STREET,L1STREETRT,L2STREETRT,FC1STREET,FC2STREET,...,EPDO_INJUR,TOP_5_TOWN,TOP_5_RPA,NUM_KABC,created_user,created_date,last_edited_user,last_edited_date,ShapeSTArea,ShapeSTLength
0,1,0,9,4eb835e1-64ef-4e91-8cb4-4a1d58353453,MAIN STREET,PLAINFIELD STREET,L151462 NB,SR20A EB,MAIN STREET,PLAINFIELD STREET,...,149,SPRINGFIELD,PVPC,7,NaN,NaN,NaN,NaN,54132.540939,846.509440
1,2,0,10,9ed432a9-3f92-4da4-b8ab-712605e3a850,MAIN STREET,LYNN FELLS PARKWAY,N344 NB,N1285 NB,MAIN STREET,LYNN FELLS PARKWAY,...,170,MELROSE,MAPC,8,NaN,NaN,NaN,NaN,79951.108032,1113.089229
2,3,0,12,61d1661e-9b6e-44f4-b71a-9e93e32154a5,PROSPECT STREET,HARVARD STREET,N327 NB,N2417 EB,PROSPECT STREET,HARVARD STREET,...,152,NO,MAPC,7,NaN,NaN,DINOCCOD,2019-06-10T18:14:28.000Z,46979.595337,784.375363
3,4,0,31,90edb956-1b7f-4e1b-91b1-8c496372cdd0,BEACON STREET,UNION STREET,N075 NB,L114589 EB,BEACON STREET,CENTRE STREET,...,431,NEWTON,MAPC,20,NaN,NaN,NaN,NaN,179171.672882,2019.708252
4,5,0,6,e31890be-4081-465c-bb41-8ad146d5aa57,,WINTER STREET,SR110 WB,SR97 NB,WINTER STREET,EMERSON STREET,...,86,NO,MVPC,4,NaN,NaN,DINOCCOD,2019-06-10T18:14:28.000Z,61009.224854,940.208257

In [4]:
bike_cl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OBJECTID          129 non-null    int64
 1   Id                129 non-null    int64
 2   CrashCount        129 non-null    int64
 3   GroupCode         129 non-null    object
 4   L1STREET          129 non-null    object
 5   L2STREET          129 non-null    object
 6   L1STREETRT        129 non-null    object
 7   L2STREETRT        129 non-null    object
 8   FC1STREET         129 non-null    object
 9   FC2STREET         129 non-null    object
 10  FC1STREETR        129 non-null    object
 11  FC2STREETR        129 non-null    object
 12  RPAS              129 non-null    object
 13  TOWNS             129 non-null    object
 14  MASSDOT           129 non-null    object
 15  NUM_K_A           129 non-null    int64
 16  NUM_B_C           129 non-null    int64
 17  NUM_O             129 non-null    int64
 18  EPDO_INJUR        129 non-null    int64
 19  TOP_5_TOWN        129 non-null    object
 20  TOP_5_RPA         129 non-null    object
 21  NUM_KABC          129 non-null    int64
 22  created_user      0 non-null      float64
 23  created_date      0 non-null      float64
 24  last_edited_user  39 non-null     object
 25  last_edited_date  39 non-null     object
 26  ShapeSTArea       129 non-null    float64
 27  ShapeSTLength     129 non-null    float64
dtypes: float64(4), int64(8), object(16)
memory usage: 28.3+ KB

In [5]:
ped_cl = pd.read_csv('data/HSIP_Pedestrian_Crash_Clusters_2007__2016.csv')

In [6]:
ped_cl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OBJECTID          189 non-null    int64
 1   Id                189 non-null    int64
 2   CrashCount        189 non-null    int64
 3   GroupCode         189 non-null    object
 4   L1STREET          189 non-null    object
 5   L2STREET          189 non-null    object
 6   L1STREETRT        189 non-null    object
 7   L2STREETRT        189 non-null    object
 8   FC1STREET         189 non-null    object
 9   FC2STREET         189 non-null    object
 10  FC1STREETR        189 non-null    object
 11  FC2STREETR        189 non-null    object
 12  RPAS              189 non-null    object
 13  TOWNS             189 non-null    object
 14  MASSDOT           189 non-null    object
 15  NUM_K_A           189 non-null    int64
 16  NUM_B_C           189 non-null    int64
 17  NUM_O             189 non-null    int64
 18  EPDO_INJUR        189 non-null    int64
 19  TOP_5_TOWN        189 non-null    object
 20  TOP_5_RPA         189 non-null    object
 21  NUM_KABC          189 non-null    int64
 22  created_user      0 non-null      float64
 23  created_date      0 non-null      float64
 24  last_edited_user  47 non-null     object
 25  last_edited_date  47 non-null     object
 26  ShapeSTArea       189 non-null    float64
 27  ShapeSTLength     189 non-null    float64
dtypes: float64(4), int64(8), object(16)
memory usage: 41.5+ KB